@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

#seccion1 {
    background-color: #CDCDCD;
    color: #0000B0;
    text-transform: capitalize;
}

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }
h2 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 1.2em;
    font-style: italic;
    text-align: justify;
    letter-spacing: 2px;
}